body {
  background-color: #282c34;
}

.App {
  margin-top: 40px;
  text-align: center;
  color: white;  
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex start;
}

.box {
  display: inline-block;       
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  margin-top: 20px;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.dead {
  background-color: lightgray;
}

.alive {
  background-color: green;
}

.box:hover { 
  background: rgb(247, 6, 255);
}

.rules {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.rules ol {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn {
  margin-right: 5px;
}
.btn:last-child {
  margin-right: 0px;
}

.part2 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0 auto;
  width: 70vw;
}

.part2 h3 {
  margin: 10px auto;
}

.part2 p > p {
  margin: 10px 0;
}